/* 尾部区域的样式 */

#footer{
    position: relative;
    background: #49b1f5;
    background-attachment: scroll;
    background-position: bottom;
    background-size: cover;
    text-align: center;
}

#footer-wrap{
    position: relative;
    padding: 40px 20px;
    color: #eee;
    text-align: center;
}